<!DOCTYPE html>
<html>
  <head>
    <title>SocialApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <p class="navbar-text float-right">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to "Edit profile", edit_user_registration_path, class: "navbar-link" %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-link"  %>
    <% else %>
      <%#= link_to "Sign up", new_user_registration_path, class: "navbar-link"  %> |
      <h4 style="text-align: center;" ><%= link_to 'Register', new_user_registration_path, class: "btn btn-success" %></h4> |
      <%#= link_to "Login", new_user_session_path, class: "navbar-link"  %>
      <h4 style="text-align: center;" ><%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %></h4>
    <% end %>
  </p>
  <body>
  <%= yield %>
  </body>
</html>
